{% load static %}

    <div class="footer">
        <div class="inner-footer">
            <div class="columns">
            <div class="footer-items">
                <h2>Hızlı Linkler</h2>
                <div class="border"></div>
                <ul class="list1">
                    <a href="">
                        <li>Anasayfa</li>
                    </a>
                    <a href="">
                            <li>   Akıl Oyunları</li>
                    </a>
                    <a href="">
                        <li> Ahşap Objeler</li>
                    </a>
                    <a href="">
                        <li>Boyalar</li>
                    </a>
                    <a href="">
                        <li>Hakkımızda</li>
                    </a>
                </ul>
            </div>

            <div class="footer-items">
                <h2>İletişim</h2>
                <div class="border"></div>
                <ul class="list1">
                    <li><i class="fas fa-map-marker-alt"></i>Yılmazlar Mah. Yörük Sok. no:29 Turgutlu/Manisa</li>

                        <li><i class="fas fa-phone"></i>0505 080 0081</li>
                    <li><i class="fas fa-envelope"></i>zensaannecocuk@gmail.com</li>
                </ul>
                <div class="social-media">
                    <a href=""><i class="fab fa-facebook" aria-hidden="true"> </i></a>
                    <a href=""><i class="fab fa-instagram" aria-hidden="true"></i></a>
                    <a href=""><i class="fab fa-pinterest" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        <div class="columns">
            <div class="footer-items">
                <h2>Galeri</h2>
                <div class="border"></div>
                <div class="images">
                    <img src="">
                    <img src="">
                    <img src="">
                    <img src="">                       
                    <img src="">
                    <img src="">
                    <img src="">
                    <img src="">
                </div>
            </div>
        </div>

        </div>
        <div class="footer-bottom">
            Copyright &copy; Zeynep Derbent 2020. All rights reserved.
        </div>
    </div>