{% load static %}
<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Comaptible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Zensaanneçocuk</title>

    

    <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>-->
    <!--<script src="https://kit.fontawesome.com/38958cd17b.js" crossorigin="anonymous"></script>
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js'% }"></script>
    <script src="{% static 'parallax.min.js'% }"></script>-->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Fontdiner Swanky" rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=Roboto Slab" rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/zensastyle.css' %}">
    <link href='{% static "styles/github.css" %}' rel="stylesheet">
    <script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script>tinymce.init({selector:'textarea'});</script>
    <!--<link rel="stylesheet" type="text/css" href="{% static 'lightslider.css'% }" />


    <script type="text/javascript" src="{% static 'jquery-3.4.1.min.js'% }"></script>
    <script type="text/javascript" src="{% static 'lightslider.js'% }"></script>-->



</head>