@font-face {
	font-family: 'Turtles';
	src: url('./Turtles.eot');
	src: local('Turtles'), url('./Turtles.woff') format('woff'), url('./Turtles.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_185">Text with this font applied</p> */
.fontsforweb_fontid_185 {
	font-family: 'Turtles' !important;
}

/* Font downloaded from FontsForWeb.com */